<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.newmapper.JobtitleManageMapper" >
  <resultMap id="BaseResultMap" type="com.uestc.model.Jobtitle" >
    <id column="JobId" property="jobId" jdbcType="TINYINT" />
    <result column="JobName" property="jobName" jdbcType="VARCHAR" />
    <result column="PayPerCourse" property="payPerCourse" jdbcType="SMALLINT" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    JobId, JobName, PayPerCourse
  </sql>
  
  <select id="selectAllJobTitle" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jobtitle
  </select>
  
</mapper>