<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.newmapper.TargroupTypeMapper" >
  <resultMap id="BaseResultMap" type="com.uestc.model.Targrouptypeinfo" >
    <id column="TARGroupTypeId" property="TARGroupTypeId" jdbcType="TINYINT" />
    <result column="TARGroupTypeName" property="TARGroupTypeName" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    TARGroupTypeId, TARGroupTypeName
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from targrouptypeinfo
    where TARGroupTypeId = #{TARGroupTypeId,jdbcType=TINYINT}
  </select>
  <select id="selectIdByName" resultType="java.lang.Byte" parameterType="java.lang.String" >
    select TARGroupTypeId
    from targrouptypeinfo
    where TARGroupTypeName = #{TARGroupTypeName,jdbcType=VARCHAR}
  </select>
</mapper>