<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.mapper.TeacherpayrollMapper" >
  <resultMap id="BaseResultMap" type="com.uestc.model.Teacherpayroll" >
    <id column="PayrollId" property="payrollId" jdbcType="INTEGER" />
    <result column="CourseAssociationId" property="courseAssociationId" jdbcType="VARCHAR" />
    <result column="Wage" property="wage" jdbcType="REAL" />
    <result column="SystemPaytime" property="systemPaytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PayrollId, CourseAssociationId, Wage, SystemPaytime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uestc.model.TeacherpayrollExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teacherpayroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teacherpayroll
    where PayrollId = #{payrollId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teacherpayroll
    where PayrollId = #{payrollId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.uestc.model.TeacherpayrollExample" >
    delete from teacherpayroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uestc.model.Teacherpayroll" >
    insert into teacherpayroll (PayrollId, CourseAssociationId, Wage, 
      SystemPaytime)
    values (#{payrollId,jdbcType=INTEGER}, #{courseAssociationId,jdbcType=VARCHAR}, #{wage,jdbcType=REAL}, 
      #{systemPaytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uestc.model.Teacherpayroll" >
    insert into teacherpayroll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payrollId != null" >
        PayrollId,
      </if>
      <if test="courseAssociationId != null" >
        CourseAssociationId,
      </if>
      <if test="wage != null" >
        Wage,
      </if>
      <if test="systemPaytime != null" >
        SystemPaytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payrollId != null" >
        #{payrollId,jdbcType=INTEGER},
      </if>
      <if test="courseAssociationId != null" >
        #{courseAssociationId,jdbcType=VARCHAR},
      </if>
      <if test="wage != null" >
        #{wage,jdbcType=REAL},
      </if>
      <if test="systemPaytime != null" >
        #{systemPaytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uestc.model.TeacherpayrollExample" resultType="java.lang.Integer" >
    select count(*) from teacherpayroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teacherpayroll
    <set >
      <if test="record.payrollId != null" >
        PayrollId = #{record.payrollId,jdbcType=INTEGER},
      </if>
      <if test="record.courseAssociationId != null" >
        CourseAssociationId = #{record.courseAssociationId,jdbcType=VARCHAR},
      </if>
      <if test="record.wage != null" >
        Wage = #{record.wage,jdbcType=REAL},
      </if>
      <if test="record.systemPaytime != null" >
        SystemPaytime = #{record.systemPaytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teacherpayroll
    set PayrollId = #{record.payrollId,jdbcType=INTEGER},
      CourseAssociationId = #{record.courseAssociationId,jdbcType=VARCHAR},
      Wage = #{record.wage,jdbcType=REAL},
      SystemPaytime = #{record.systemPaytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uestc.model.Teacherpayroll" >
    update teacherpayroll
    <set >
      <if test="courseAssociationId != null" >
        CourseAssociationId = #{courseAssociationId,jdbcType=VARCHAR},
      </if>
      <if test="wage != null" >
        Wage = #{wage,jdbcType=REAL},
      </if>
      <if test="systemPaytime != null" >
        SystemPaytime = #{systemPaytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PayrollId = #{payrollId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uestc.model.Teacherpayroll" >
    update teacherpayroll
    set CourseAssociationId = #{courseAssociationId,jdbcType=VARCHAR},
      Wage = #{wage,jdbcType=REAL},
      SystemPaytime = #{systemPaytime,jdbcType=TIMESTAMP}
    where PayrollId = #{payrollId,jdbcType=INTEGER}
  </update>
</mapper>